:root{

--bg:#0f172a;
--card:#1e293b;
--primary:#00ffa6;
--secondary:#38bdf8;
--text:#e2e8f0;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter;
background:var(--bg);
color:var(--text);

}

/* header */

header{

text-align:center;
padding:60px 20px;

}

header h1{

font-size:4rem;
margin-bottom:10px;

}

.tagline{

color:var(--primary);
font-size:1.3rem;
margin-bottom:30px;

}

nav a{

margin:0 15px;
text-decoration:none;
color:var(--text);
font-weight:600;
transition:0.3s;

}

nav a:hover{

color:var(--primary);

}

/* sections */

section{

padding:80px 20px;
text-align:center;

}

h2{

font-size:2.5rem;
margin-bottom:40px;

}

/* profile */

.profile{

width:160px;
border-radius:100px;
margin-bottom:25px;
border:3px solid var(--primary);
transition:0.5s;

}

.profile:hover{

transform:rotate(360deg);

}

/* button */

.btn{

display:inline-block;
margin-top:20px;
padding:10px 20px;
background:var(--primary);
color:black;
text-decoration:none;
border-radius:30px;
font-weight:bold;
transition:0.3s;

}

.btn:hover{

transform:scale(1.1);

}

/* skills */

.skill-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:30px;
max-width:700px;
margin:auto;

}

.skill{

font-size:3rem;
color:var(--secondary);
transition:0.3s;

}

.skill span{

display:block;
font-size:1rem;
margin-top:10px;

}

.skill:hover{

transform:translateY(-10px);
color:var(--primary);

}

/* smaller icons */

.skill.small{

font-size:2rem;

}

/* cpp lua */

.cpp{

font-size:1.4rem;
font-weight:bold;
color:#f59e0b;

}

.lua{

font-size:1.4rem;
font-weight:bold;
color:#60a5fa;

}

/* projects */

.projects{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
max-width:900px;
margin:auto;

}

.card{

background:var(--card);
padding:25px;
border-radius:15px;
transition:0.4s;

}

.card:hover{

transform:translateY(-10px);
box-shadow:0 0 20px var(--primary);

}

.card h3{

margin-bottom:10px;

}

.card p{

font-size:0.95rem;
margin-bottom:15px;

}

.card a{

color:var(--secondary);
text-decoration:none;

}

/* education */

.edu{

margin:20px;

}

/* contact */

.contact-links{

display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;

}

.contact-links a{

text-decoration:none;
color:var(--text);
font-size:1.2rem;
transition:0.3s;

}

.contact-links a:hover{

color:var(--primary);

}

footer{

text-align:center;
padding:30px;
color:#64748b;

}
